.badge {
  padding: 10px 14px 9px;
  border-radius: 5px;
  background: rgb(254, 254, 254, .3);
  font-family: 'poppinsmedium';
  font-size: 14px;
  font-weight: 500;
  color: #FEFEFE;
}

.badge.size_small {
  font-size: 12px;
  padding: 10px 12px;
}

@media screen and (max-width: 1000px) {
  .badge {
    padding: 6px 10px 7px;
    font-size: 10px;
  }

  .badge.size_small {
    font-size: 8px;
  }
}