.pressable-icon {
  position: relative;
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
}

.pressable-icon__dot {
  position: absolute;
  top: 1px;
  right: 0;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #FF3737;
}