.chat-button {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-gap: 13px;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.chat-button__text {
  color: rgb(254, 254, 254, .7);
  font-size: 24px;
  font-weight: 500;
}

@media screen and (max-width: 1000px) {
  .chat-button__text {
    font-size: 16px;
  }
}