.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 416px;
  height: 100vh;
  padding: 57px 53px 51px 51px;
  background-color: rgba(0, 0, 0, .3);
  z-index: 1;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.sidebar__title {
  margin-bottom: 51px;
  color: #FEFEFE;
  font-size: 40px;
  line-height: normal;
}

.sidebar__divider {
  width: 100%;
  height: 1px;
  background: rgba(221, 221, 221, 0.87);
}

.sidebar__menu {
  display: grid;
  grid-gap: 30px;
  padding: 23px 0 30px;
}

.sidebar__menu .menu__item {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 13px;
  align-items: center;
}

.sidebar__menu .item__text {
  color: #DDD;
  font-family: 'poppinsmedium';
  font-size: 24px;
  line-height: normal;
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.sidebar__menu .menu__item.active .item__text {
  color: #FEFEFE;
}

.sidebar__chat-button {
  -webkit-app-region: no-drag;
}

@media screen and (max-width: 1000px) {
  .sidebar {
    width: max-content;
    padding: 30px 20px;
  }

  .sidebar__title {
    font-size: 32px;
  }

  .sidebar__menu .item__text {
    font-size: 16px;
  }
}