.game-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0px -183px 50px -35px rgba(0, 0, 0, 0.75) inset;
  overflow: hidden;
}

.game-card__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, black);
  z-index: 1;
}

.game-card__info {
  position: relative;
  z-index: 1;
}

.game-card__price {
  position: relative;
  z-index: 1;
}

.game-card__name {
  font-size: 40px;
  font-weight: 700;
  color: rgba(254, 254, 254, 0.93);
}

.game-card__tags {
  display: flex;
  grid-gap: 12px;
  margin-top: 43px;
}

.game-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.game-card__price {
  font-size: 26px;
  font-weight: 600;
  color: #FEFEFE;
}

.game-card.size_small {
  min-height: 300px;
  padding: 35px 35px 20px;
}

.game-card.size_small .game-card__name {
  font-size: 30px;
}

.game-card.size_small .game-card__tags {
  margin-top: 18px;
}

.game-card.size_small .game-card__price {
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  .game-card__name {
    font-size: 26px;
  }

  .game-card__price {
    font-size: 18px;
  }

  .game-card.size_small .game-card__name {
    font-size: 22px;
  }

  .game-card.size_small .game-card__price {
    font-size: 16px;
  }
}